<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom Rulset" Description="Custom Rulset" ToolsVersion="15.0">
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <Rule Id="UseConfigureAwait" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1034" Action="Hidden" />
    <Rule Id="CA1308" Action="Info" />
    <Rule Id="CA1710" Action="Hidden" />
    <Rule Id="CA1716" Action="Hidden" />
    <Rule Id="CA1720" Action="Hidden" />
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1214" Action="None" />
    <Rule Id="SA1311" Action="None" />
    <Rule Id="SA1404" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1518" Action="None" />
    <Rule Id="SA1519" Action="None" />
    <Rule Id="SA1520" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>